@charset "utf-8";

@mixin object($d, $p, $w, $h) {
  display: $d;
  position: $p;
  width: $w;
  height: $h;
}
@mixin flex($j, $a, $d) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}
