@charset "utf-8";

@mixin object($d, $w, $h) {
  display: $d;
  width: $w;
  height: $h;
}
@mixin flex($j, $a, $d) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}
%header {
  font: {
    size: 1.3em;
    weight: 600;
  }
}
